{% set action = action|default("/") %}
{% set method = method|upper|default("POST") %}
{% set is_spoofed = method != "POST" %}
{% set csrf_token = csrf_token|default(csrf_token()) %}
{% set is_csrf_protected = method == "POST" or is_spoofed %}
{% set attributes = attributes|default({}) %}

<form 
    action="{{ action }}"
    method="POST" 
    {% for name, value in attributes %}
        {{ name }}="{{ value }}"
    {% endfor %}
>
    {% if is_spoofed %}
        <input 
            type="hidden" 
            name="_METHOD" 
            value="{{ method }}"
        >
    {% endif %}
    {% if is_csrf_protected %}
        <input 
          type="hidden" 
          name="_csrf_token" 
          value="{{ csrf_token }}"
        >
    {% endif %}
    <div class="flex flex-col justify-center items-center space-y-2">
        {{ block("form_content") }}
    </div>
</form>
