{% extends "layouts/page.html.twig" %}

{% block content %}
    <div class="flex flex-col w-full items-center space-y-4">
        {% include "components/flash.html.twig" %}
        <div class="space-y-4">
            <h1 class="text-center text-lg font-bold">Vous êtes connecté à Internet</h1>
            <div class="w-full bg-gray-50 border border-gray-200 rounded-lg p-4 space-y-4">
                <div>
                    <span class="block font-medium text-gray-500">Code d'accès</span>
                    <span class="text-gray-900 font-mono my-1 block">{{ coupon_code }}</span>
                </div>
                <div>
                    <span class="block font-medium text-gray-500">Temps par appareil</span>
                    <span class="text-xs text-gray-500 my-1 block">{{ allowed_time|default("∞") }}</span>
                </div>
                <div>
                    <span class="block font-medium text-gray-500">Temps restants pour cet appareil</span>
                    <span class="text-xs text-gray-500 my-1 block">{{ remaining_device_time|default("?") }}</span>
                </div>
                <div>
                    <span class="block font-medium text-gray-500">Appareils</span>
                    <span class="text-xs text-gray-500 my-1 block">{{ remaining_devices|default("?") }} / {{ allowed_devices|default("∞") }}</span>
                </div>
            </div>
            {% include "components/device_list.html.twig" %}
        </div>
        {% embed "components/form.html.twig" with {
            method: "DELETE",
            action: "/session"
        } only %}
            {% block form_content %}
                <button
                    type="submit"
                    class="inline-block space-y-2 px-4 py-2 bg-red-500 text-white font-semibold rounded-xl transition-colors hover:bg-red-700"
                >Déconnexion</button>
            {% endblock %}
        {% endembed %}
    </div>
{% endblock %}
